body, h1, h2, h3, h4, p, ul, ol, li {
    margin: 0;
    font-family: "Helvetica";
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(-45deg, #ee7752, #ff00ff, #00ffff, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	min-height: 100vh;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}