.difficulty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.difficulty.-hidden {
    display: none;
}

.difficulty__table {
    height: 31vmin;
    width: 80vmin;
}

.difficulty__title {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.difficulty__pick {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.difficulty__var {
    width: 32%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

.difficulty__name {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    color: var(--neon_pink);
}

.difficulty__about {
    font-size: 17px;
    text-align: center;
    color: var(--neon_pink);
}

.difficulty__exemple {
    display: flex;
    justify-content: space-between;
    padding: 0 35px 0 15px;
}

.difficulty__cube {
    width: 15%;
    height: 30px;
    border-top: 1px solid var(--neon_blue);
    border-right: 1px solid var(--neon_blue);
    rotate: 45deg;
    background: white;
}

.difficulty__cube.-hidden {
    border: none;
}

.difficulty__kost {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.difficulty__button {
    font-size: 25px;
    height: 60px;
    width: 200px;
    border: 1px solid var(--neon_pink);
    border-radius: 10px;
    color: var(--neon_pink);
    background-color: white;
}