.game {
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.game.-hidden {
    display: none;
}

.wrapper {
    height: 70vmin;
    width: 65vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background: white;
    border-radius: 10px;
}

.game__details {
    color: #b8c6dc;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.game__board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    background: rgb(162, 171, 250);
}

.game__board .food {
    background: linear-gradient(-45deg, #ff00ff, #ff0000);
    background-size: 100% 100%;
	animation: gradient 10s ease infinite;
    border-radius: 50%;
}

.game__board .head-1{
    background: linear-gradient(-45deg, #00ffff, #ff00ff);
    background-size: 100% 100%;
	animation: gradient 10s ease infinite;
    position: relative;
}

.head-1::before {
    content: "";
    position: absolute;
    width: 85%;
    height: 85%;
    top: 3%;
    left: 3%;
    border: 0.5px solid white;
    border-radius: 50%;
}

.head-1::after {
    content: "";
    position: absolute;
    height: 75%;
    width: 15%;
    top: 11%;
    left: 42%;
    background-color: white;
    border-radius: 50%;
}

.game__board .head-2{
    background: linear-gradient(-45deg, #ff8800, #00ff00);
    background-size: 100% 100%;
    position: relative;
}

.head-2::before {
    content: "";
    position: absolute;
    width: 85%;
    height: 85%;
    top: 3%;
    left: 3%;
    border: 0.5px solid white;
    border-radius: 50%;
}

.head-2::after {
    content: "";
    position: absolute;
    height: 75%;
    width: 15%;
    top: 11%;
    left: 42%;
    background-color: white;
    border-radius: 50%;
}

.game__board .head-3{
    background: linear-gradient(-45deg, #7c00ad, #000000);
    background-size: 100% 100%;
    position: relative;
}

.head-3::before {
    content: "";
    position: absolute;
    width: 85%;
    height: 85%;
    top: 3%;
    left: 3%;
    border: 0.5px solid white;
    border-radius: 50%;
}

.head-3::after {
    content: "";
    position: absolute;
    height: 75%;
    width: 15%;
    top: 11%;
    left: 42%;
    background-color: white;
    border-radius: 50%;
}

.game__board .body-1{
    background: linear-gradient(-45deg, #00ffff, #ff00ff);
    background-size: 100% 100%;
	animation: gradient 10s ease infinite;
}

.game__board .body-2{
    background: linear-gradient(-45deg, #ff8800, #00ff00);
    background-size: 100% 100%;
}

.game__board .body-3{
    background: linear-gradient(-45deg, #7c00ad, #000000);
    background-size: 100% 100%;
}

.controls {
    padding: 3px 0;
    display: flex;
    justify-content: space-between;
}

.arrows {
    font-size: 15px;
    text-align: center;
    border-right: 1px solid grey;
    border-radius: 2px;
    width: 25%;
    height: 23px;
}

.arrows.-last {
    border: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 1050px) {
    .wrapper {
        height: 120vmin;
        width: 90vmin;
    }

    .arrows {
        height: 60px;
        padding: 5%;
    }
}